/source/*.bb_bak1
/source/*.bb_bak2
/source/Source Code/*.bb_bak1
/source/Source Code/*.bb_bak2
/source/*.Backup
/source/*_original.exe
/source/dev/*.exe.config

/build/

/steam/

/sdk/.vs/
/sdk/x64/

/dpisdk/.vs/
/dpisdk/obj/
/dpisdk/release/

/prepblitz/.vs/
/prepblitz/obj/
/prepblitz/release/

/prepblitz/bin
/prepblitz/obj

/workshopuploader/.vs/
/workshopuploader/Release/

*.pdb
*.exp